@model PediosEvertec.Models.Pedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.code_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.code_product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
